@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap%27");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, pink, rgb(218, 158, 29));;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: normal;
    font-family: 'Caveat', cursive;
}

h1, 
h2, 
h3, 
p {
    text-align: center;
    margin: 10px 0;
    width: 100%;
}

h2 {
    text-align: left;
    font-weight: bold;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: #000;
}

.header {
    padding: 20px;
}

.container {
    width: auto;
    height: auto;
}

.nav-inner {
    width: 70%;
    margin: 40px auto;
    height: auto;
    min-height: 250px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 5px;
    -webkit-box-shadow: 5px 5px 27px 4px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 5px 5px 27px 4px rgba(0, 0, 0, 0.07);
    box-shadow: 5px 5px 27px 4px rgba(0, 0, 0, 0.07);
}

.nav-lesson {
    width: 25%;;
    margin: 0 auto;
    height: auto;
    min-height: 50px;
    border: 1px solid black;
    float: left;
    margin: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 27px 4px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 5px 5px 27px 4px rgba(0, 0, 0, 0.22);
    box-shadow: 5px 5px 27px 4px rgba(0, 0, 0, 0.22);
}
.nav-lesson-inner {
    width: auto;
    height: auto;
    border-top: 1px solid black;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    line-height: 29px;
    width: 96px;
    height: 31px;
    border-radius: 4px;
    border: 1px solid rgb(60, 183, 255);
    background-color: white;
    color: black;
}

a {
    text-decoration: none;
    color: darkblue;
}

a {
    display: inline-block;
    position: relative;
    margin-right: 20px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    backface-visibility: hidden;
}

a::after {
    content: '>';
    position: absolute;
    bottom: 0;
    margin: 0 7px;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

a:hover::after {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
}